# OS
.DS_Store
Thumbs.db

# Editors
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/

# Env files (root)
.env
.env.local
.env.test
.env.production

# Docker
docker-compose.override.yml

# Logs
*.log
logs/

# Coverage
coverage/
